* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    height: 70px;
    background-color: #2874f0;
    display: flex;
    align-items: center;
    z-index: 11;
}

header .location,
.search,
nav {
    flex: 1;
}

.location {
    display: flex;
    justify-content: center;
}

header .location .loction_list,
.search_list,
ul.nav-box {
    display: flex;
}

header .search .search_list,
.location .loction_list {
    justify-content: center;
}

header nav ul.nav-box {
    justify-content: space-around;
}

header .location .loction_list h3,
i {
    padding: 0 3px;
    color: white;
    font-weight: 100;
}

.inp {
    width: 400px;
    border-radius: 3px;
    outline: none;
    border: 1px solid white;
    padding: 7px;
    transition: .5s;
    font-size: 16px;
    color: black;
    background-color: white;
    transition: .5s;
}

.search .search_list input:focus {
    background-color: rgba(255, 255, 255, 0.247);
    color: white;
}

::placeholder {
    letter-spacing: 2px;
    opacity: 0.5;
    color: black;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    line-height: 70px;
    padding: 0px 30px;
    color: white;
    text-align: center;
    display: block;
}

a {
    text-decoration: none;
    color: black;
    display: block;

}

header nav ul li a:hover {
    background-color: white;
    color: black;
    cursor: auto;
}

nav .nav-box li ul {
    position: relative;
    margin-left: -15px;
    display: none;
}

nav .nav-box li:hover ul {
    position: absolute;
    top: 70px;
    display: block;
    background-color: rgb(104, 103, 103);
}

.main_form {
    background-color: rgba(192, 192, 192, 0.3);
    position: relative;
    margin: 20px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.form_row,
.form_image {
    display: flex;
    padding: 10px;
}

.form_row label,
.form_image label {
    padding: 7px;
}

.form_row input {
    flex: 1;
    border: 1px solid rgba(192, 192, 192, 0.7);
    outline: 0;
    border-radius: 5px;
    padding: 5px;
}

input[type=file] {
    padding: 7px;
}

.form_submit {
    margin: 10px 17px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background-color: gray;
    color: white;
}


input.shop {
    text-transform: capitalize;
}

input.shopadd {
    text-transform: uppercase;
}
.btn {
    padding: 5px 17px;
    outline: 0;
    border-radius: 5px;
}
.btn .button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: 0;
    outline: 0;
    border: 1px solid rgba(192, 192, 192, 0.7);
}