* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    height: 70px;
    background-color: #2874f0;
    display: flex;
    align-items: center;
    z-index: 11;
}

header .location,
.search,
nav {
    flex: 1;
}


header .search_list,
ul.nav-box {
    display: flex;
}

header .search .search_list{
    justify-content: center;
}

header nav ul.nav-box {
    justify-content: space-around;
}

input {
    width: 400px;
    border-radius: 3px;
    outline: none;
    border: 1px solid white;
    padding: 7px;
    transition: .5s;
    font-size: 16px;
    color: black;
    background-color: white;
    transition: .5s;
}

.search .search_list input:focus {
    background-color: rgba(255, 255, 255, 0.247);
    color: white;
}

::placeholder {
    letter-spacing: 2px;
    opacity: 0.5;
    color: black;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    line-height: 70px;
    padding: 0px 30px;
    color: white;
    text-align: center;
    display: block;
}

a {
    text-decoration: none;
    color: black;
    display: block;

}

header nav ul li a:hover {
    background-color: white;
    color: black;
    cursor: auto;
}

nav .nav-box li ul {
    position: relative;
    margin-left: -15px;
    display: none;
}

nav .nav-box li:hover ul {
    position: absolute;
    top: 70px;
    display: block;
    background-color: rgb(104, 103, 103);
}

/*************************************************/

.main{
    width: 100%;
    padding: 0 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    
}
tr th{
      
    background-color:rgb(209, 209, 209);
}
tr th,tr td{
    text-align: center;
    padding: 15px 0;
   
 }
th:nth-child(1),td:nth-child(1){
    width:5%;
}
th:nth-child(2),td:nth-child(2){
    width:10%;
}
th:nth-child(3),td:nth-child(3){
    width:15%;
}
th:nth-child(4),td:nth-child(4){
    width:22%;
}
th:nth-child(5),td:nth-child(5){
    width:10%;
}
th:nth-child(6),td:nth-child(6){
    width:15%;
}
th:nth-child(7),td:nth-child(7){
    width:15%;
}
th:nth-child(8),td:nth-child(8){
    width:8%;
} 

.tr2{
    margin: 20px auto;
} 
td{
    padding: 15px 0;
    background-color: rgb(245, 245, 245);
    border-bottom:1px rgba(0, 0, 0, 0.212) solid;
    border-top:1px rgba(0, 0, 0, 0.212) solid;
} 
#inp{
    width: 70%;
    border: 0;
    outline: 0;
    color: white;
    padding: 8px;
    cursor: pointer;
    background-color: #2874f0;
}
