* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-weight: 100;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

header {
    width: 100%;
    height: 70px;
    background-color: #2874f0;
    display: flex;
    align-items: center;
    z-index: 99;
}
main{
    z-index: -1;
}

header .location,
.search,
nav {
    flex: 1;
}

.location {
    display: flex;
    justify-content: center;
}

header .location .loction_list,
.search_list,
ul.nav-box {
    display: flex;
}

header .search .search_list,
.location .loction_list {
    justify-content: center;
}

header nav ul.nav-box {
    justify-content: space-around;
}

header .location .loction_list h3,
i {
    padding: 0 3px;
    color: white;
    font-weight: 100;
}

input {
    width: 400px;
    border-radius: 3px;
    outline: none;
    border: 1px solid white;
    padding: 7px;
    transition: .5s;
    font-size: 16px;
    color: black;
    background-color: white;
    transition: .5s;
}

.search .search_list input:focus {
    background-color: rgba(255, 255, 255, 0.247);
    color: white;
}

::placeholder {
    letter-spacing: 2px;
    opacity: 0.5;
    color: black;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    line-height: 70px;
    padding: 0px 30px;
    color: white;
    text-align: center;
    display: block;
}

a {
    text-decoration: none;
    color: black;
    display: block;

}

header nav ul li a:hover {
    background-color: white;
    color: black;
    cursor: auto;
}

nav .nav-box li ul {
    position: relative;
    margin-left: -15px;
    display: none;
}

nav .nav-box li:hover ul {
    position: absolute;
    top: 70px;
    display: block;
    background-color: rgb(104, 103, 103);
}

main {
    position: sticky;
    top: 0;
    overflow: hidden;
}

/**** After scroll event black class run *****/

.black .shophead {
    height: 20vh;
}

.black .shophead .shopbox,
.black .shophead .shopbox img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 0;
}

.black .shophead h1,
.black .shophead p {
    font-size: 14px;
    margin-left: 10px;
    padding: 5px;
}

.black .shophead h1,
.black .shophead .shopsearch input {
    width: 50em;
}
.sub_menu_profile{text-transform: uppercase;}

/****** shophead header **/
.shophead {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35vh;
    background-color: #141622;
    transition: .3s;

}

.shophead .shopbox {
    display: block;
    background-color: white;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    border-radius: 10px;
    transition: .5s;

}

.shophead .shopbox img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    transition: .5s;
}

h1,
p {
    color: white;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;
    transition: .5s;
}

.shopsearch {
    position: absolute;
    right: 0;
    margin-right: 70px;
    overflow: hidden;
}
/****** shopmenu box  ****/

.shopmenu {
    display: flex;
    width: 100%;
    height: auto;
}
/**** filter in left side ***/
.filter{
    flex: 0.5;
    margin-top: 30px;
}
.filter ul{
    position: sticky;
    top: 22vh;
    border-right: 3px solid silver;
   height: auto;
}
.filter ul li{
   margin: 15px 0;
}
.filter ul li a{
    text-align: center;
    padding: 10px;
    transition: .2s;
}
.filter ul li a:hover{
    background-color: #141622;
    color: white;
}
/****menu list of food in center ***/
.shopmenu .menuleft {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    overflow: hidden;
}

.menubox {
    display: flex;
    width: 100%;
    height: 70px;
    margin: 25px 25px 0 25px;
    border: 1px solid silver;
    border-radius: 5px;
    z-index: -3;
}
.menubox .menulist-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
.menubox .btnright{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
.sqr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border: 1.5px solid green;
    border-radius: 5px;
}
.sqr .circle{
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50px;
}
.menuimage{
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

button {
    border: 0;
    outline: 0;
    background-color: #2874f0;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}
/****** cart in leftside *****/
.menuboxcart{
    display: flex;
    width: 100%;
    height: 25%;
    margin: 25px;
    border: 1px solid silver;
    
}
.menuboxcart .menulist-right{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.menubox h3,
.menubox p,
.menuboxcart p,
.menuboxcart h3 {
    color: black;
    margin: 0;
    font-weight: 400;
}

.shopmenu .cartright {
    flex: 1;
    background-color: #f6f6f6;
    border-left: 3px solid rgba(192, 192, 192, 0.185);
    height: auto;
   z-index: -3;
}

.cartright .sw {
    position: sticky;
    top: 22vh;
}

.shopmenu .cartright .shop_detail h1,
.shopmenu .cartright .shop_detail p {
    color: black;
    font-weight: 400;
    padding: 0;
    margin: 15px 0 20px 20px;
}

.shopmenu .cartright .menuboxcart {
    position: relative;
   width: auto;
    height: 70px;
    background-color: rgba(223, 222, 222, 0.856);
    border-left: 3px solid black;
    margin: auto;
    margin-top: 10px;
}

.btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
}

.btn input {
    width: 30px;
    padding: 3px;
    margin: 0;
    border-radius: 0;
    text-align: center;
}

.btn input:nth-child(odd) {
    background-color: #141622;
    color: white;
    cursor: pointer;
}
/***** order list  ***/
.order {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.order p {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 400;
}

.cartright .chk {
    width: 300px;
    margin: 0 0 20px 100px;
}

